.navbar-inverse {
    background: #000033;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.navbar-inverse .navbar-brand {
    color: white;
}

footer {
    background: white;
    width: 100%;
    padding: 2%;
}

.social {
    font-size: 400%;
}

.social a {
    color: #000033;
    padding: 3%;
}

body {
    padding-top: 70px;
    background-color: #000033;
    background-image: url("nick-collins-FzrpzMLI3x0-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.intro {
    padding-top: 10px;
    padding-bottom: 20px;
    color: white;
    text-align: center;
    
    height: auto;
    margin: 0 auto;
    position: relative;
    font-family: "Ubuntu", sans-serif;
}

hr {
    width: 50%;
}

.thumbnail {
    background: rgba(0, 0, 0, 0.8);
    width: 100px;
    height: 100px;
    
}

#bar{
    background: rgba(0, 0, 0, .81);
    
}

#bar1{
    padding-left: 41%;
}

.glyphicon{
    font-size: 50px;
}